.flat-container{
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  align-items: center;
}

.flat-avatar{
  height: 100px;
}

.flat-info{
  font-size: 20px;
}

.flat-element {
  margin: 20px;
}
 .book{
  width: 250px;
  background: rgb(220, 220, 220);
  padding: 10px;
  border-radius:6px;
 }

